<%- include("./partials/head")%>

<div class="text-center text-black main-page">
    <div class="pb-12 top">
        <%- include("./partials/nav")%>
        <div id="main" name="main" class="mt-10 text-white">
            <h1 class="text-6xl font-bold align-middle white">👋 Welcome to your dashbaord!</span></h1>
            <h1 class="text-6xl opacity-20 transform -translate-y-5 font-bold mb-2 align-middle">
                <!-- <span class="opacity-0"></span> -->
            </h1>
            <p class="font-normal text-lg white"></p>
            <br><br>
            <a href="#popupBox"
            class="block bg-white text-black font-bold transition duration-200 shadow hover:shadow-2xl ease-in-and-out rounded-lg mx-auto mt-16 px-2 py-4 text-xl font-sans w-60">
            Add App
            </a>
            <br><br><br>
        </div>
    </div>
        <br>
        <br>
        <div id="popupBox" class="overlay">
            <div class="popup">
                <form action="newApp">
                    <br>
                    <label for="APP_NAME" class="IconTitle">App Name</label>
                    <br><br>
                    <input type="text" name="APP_NAME" class="modalInput" required>
                    <br><br>
                    <button type="submit" class="modalSubmit btn-sm btn block text-black font-bold transition duration-200 shadow hover:shadow-2xl ease-in-and-out rounded-lg mx-auto text-xl font-sans w-60">Create</button>
                    <br>
                    <a href=""><button type="button" class="btn-sm btn block text-black font-bold transition duration-200 shadow hover:shadow-2xl ease-in-and-out rounded-lg mx-auto text-xl font-sans w-60 cancelbtn" onclick="closeForm()">Close</button></a>
                </form>
            </div>
        </div>
        <div class="IconList">
            <% if(!AppsNullish){ %> 
                <div class="IconTitle">Your Apps</div>
                <% for(const App of UserApps){ %>
                    <div class="AppTile">
                        <br>
                        <div class="AppText AppName"><%=App.data.AppName%></div>
                        <br>
                        <form action="/actions/regen?Id=<%=App.Id%>" method="post"><button class="AppButton btn-sm text-black font-bold transition duration-200 shadow hover:shadow-2xl ease-in-and-out rounded-lg mx-auto font-sans w-60" onclick="alert(<%=string("✅ Reset Token!")%>)" >Reset Token</button></form>
                        <button class="AppButton btn-sm text-black font-bold transition duration-200 shadow hover:shadow-2xl ease-in-and-out rounded-lg mx-auto font-sans w-60" onclick="navigator.clipboard.writeText(<%=string(App.data.token)%>).then(e => alert(<%=string("📋 Copied to Clipboard!")%>));">Copy Token</button>
                        <br><br>
                    </div>
                <% } %>
            <% } else { %> 
                <div class="IconTitle">😢 You have no apps!</div>
            <% } %> 
        </div>
        <br>
        <br>
    <div>
        <%- include("./partials/footer")%>
    </div>
</div>